# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\P\练习\java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
